.animated-line {
    width: 100%;
    height: 1px; /* Adjust line thickness as needed */
    background-color:aqua; /* Initial color */
    position: relative;
    overflow: hidden;
  }
  
  .animated-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--line-color); /* Dynamic color */
    animation: moveLine 1s infinite linear; /* Adjust animation duration as needed */
  }
  
  @keyframes moveLine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  